* {
  margin: 0;
  padding: 0;
  outline: none;
}

.container img {
  background-size: cover;
  border: 1px solid black;
  border: none;
}
.background {
  background-color: #141516;
  
}

.app {
  position: absolute;
  top: 20%;
  left: 28%;
  z-index: 5;
  width: 45%;
  padding: 40px 0;
}

.app h1 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #dfd4ca;
}

.appointment {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.appform {
  display: block;
  border-radius: 1vh;
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
  color: black;
  background: white;
  margin: 16px 0;
  outline: none;
  border: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  transition: 0.5s;
}

.select {
  padding: 8px 12px;
  border-radius: 1vh;
  width: 100%;
  height: 50px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #757575;
}
.select:hover,
.select:focus {
  outline: none;
  border: 1px solid #454545;
  
  }

option {
  color: #454545;
  font-weight: 800;
}

.rateFormButton {
  float: right;
  border: 0;
  background: #171412;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  outline: none;
}
.rateFormButton:hover {
  background: #03f4fc;
}

label{
  width: 100%;
  height: 30px;
	border:4px solid #BDA38C;
	position: relative;
	margin: 20px;
	border-radius: 10px;
	color: #f79539;
	transition: 0.5s;
}
.fa{
	font-size: 80px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-80%);
}
label>span{
	font-size: 10px;
	position: absolute;
  bottom: 30%;
	left: 50%;
	transform: translate(-50%,80%);
	font-family: "Poppins",sans-serif;
	font-weight: 500;
}
input[type="radio"]{
	-webkit-appearance:none;
}
input[type="radio"]:checked + label{
	background-color:#f79539;
	color: white;
	box-shadow: 0 15px 45px rgba(24,249,141,0.2);
}


.payment {
  
	height: 50px;
	width: 50%;
  display: flex;
  justify-content: space-between;
  
  
}

/* footer */

.footer1{  
  background-color:  #17181b;
  width: 100%;
  height: 220px;
  font-family: "Baloo Da 2", serif;
}

.footer-container{
  width: 80%;
  height: 80%;
  color: #a7a7a7;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  
  /* box-sizing: border-box; */
  padding: 35px 10px; 
}

.footer-topics-1{
  width: 30%;
  padding: 0px 43px;
  box-sizing: border-box;   
}

.footer-topics-2{
  display: flex;
  flex-direction: column;
  /* margin-right: 4rem; */
}

.footer-topics-1 h2{
  margin-bottom: 15px;
}

.footer-topics-2 h2{
  margin-bottom: 15px;
}

.footer-topics-1 p{
  opacity: 0.7;
  line-height: 23px;
}

.footer-topics-2 a{
  color: #a7a7a7;
  opacity: 0.7;
  line-height: 25px;  
}

.footer-topics-2 a:hover{
  color: #c29525;
  transition: ease-out;
}
/*Add a logo here to the footer 1*/


/*Editing the footer 2*/

.footer2{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b0c0d;
}

.footer-content{
  /*Space between copyright and social media*/
  /* width: 50%;   */
  display: flex;
  justify-content: space-between;
}

.copyright{
  color: #a7a7a7;
  font-family: "Baloo Da 2", serif;
  font-size: 12px;
  margin: 0 5px;  
}

.social-media-list{
  cursor: pointer;
}

.social-media-list a{
  margin: 0 8px;
}

.social-media-list i{
  font-size: 14px;
  color: #a7a7a7;
}

.social-media-list i:hover{  
  color: #5A3C92;
  transition: ease-out;
}